@import "/node_modules/bootstrap-icons/font/bootstrap-icons";

#hovered-note-menu {
  position: absolute;
  top: 0;
  left: 0;
}

.editor-input {
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 1.5rem !important;

  /* font */
  .strikethrough {
    text-decoration: line-through;
  }

  .subscript {
    vertical-align: sub;
    font-size: smaller;
  }

  .superscript {
    vertical-align: super;
    font-size: smaller;
  }

  .underline {
    text-decoration: underline;
  }

  /* note */

  ul {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }

  li {
    @extend .bi;
    @extend .bi-record;
    --hovered-note-before-content: "\F51A"; /* bi-record */
  }

  li::before {
    vertical-align: middle;
    cursor: pointer;
    padding: 0.5em;
    pointer-events: all;
    content: "\F51A"; /* bi-record */
    color: var(--bs-secondary);
    font-size: 0.6em;
  }

  li:hover::before {
    content: var(--hovered-note-before-content);
  }

  li.li-nested::before {
    display: none;
  }
}
