#hovered-note-menu {
  position: absolute;
  top: 0;
  left: 0;
}

#highlighter {
  $shadowOffset: 5px;
  $shadowBlurRadius: 5px;
  position: absolute;
  margin-top: $shadowOffset;
  margin-left: $shadowOffset;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 100;
  box-shadow: (-$shadowOffset) (-$shadowOffset) ($shadowBlurRadius) 0px var(--bs-red);
  border-radius: 0.25rem;
  width: 100px;
}
/*
#hovered-note-menu a:hover {
  box-shadow: 0 0 5px 0px var(--bs-secondary), inset 0 0 5px 0px var(--bs-secondary);
  border-radius: 100%;
}
*/

.editor-input {
  --hovered-note-before-content: "\F51A"; /* bi-record */
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 1.5rem !important;

  /* font */
  .strikethrough {
    text-decoration: line-through;
  }

  .subscript {
    vertical-align: sub;
    font-size: smaller;
  }

  .superscript {
    vertical-align: super;
    font-size: smaller;
  }

  .underline {
    text-decoration: underline;
  }

  /* note */

  ul {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
  }

  li::before {
    vertical-align: middle;
    cursor: pointer;
    padding: 0.5em;
    pointer-events: all;
    content: "\F51A"; /* bi-record */
    color: var(--bs-secondary);
    font-size: 0.6em;
  }

  li:hover::before {
    content: var(--hovered-note-before-content);
  }

  li.li-nested::before {
    display: none;
  }
}
