.editor-input {
  outline: 1px solid lightblue;
  margin-top: 3px;
  padding-left: 2rem !important;
  position: relative;
}

.editor-input .li-nested {
  list-style-type: none;
}

/* hide time travel */
.editor-input .tree-view-output > button {
  display: none;
}

/* font */
.editor-input .strikethrough {
  text-decoration: line-through;
}

.editor-input .subscript {
  vertical-align: sub;
  font-size: smaller;
}

.editor-input .superscript {
  vertical-align: super;
  font-size: smaller;
}

.editor-input .underline {
  text-decoration: underline;
}