.editor-input {
  outline: 1px solid lightblue;
  margin-top: 3px;
}

.editor {
  position: relative;
}

.li-nested {
  list-style-type: none;
}

/* hide time travel */
.tree-view-output > button {
  display: none;
}