li.note i {
    font-size: .5rem;
}

li.note ul {
    padding-left: 0.75rem;
}

button.fold {
    text-decoration: none;
    /*pointer-events: none;*/
    text-align: left;
    padding: 0;
}

.editor-input {
    outline: 1px solid blue;
}