span.note i {
    font-size: .5rem;
}

span.note ul {
    padding-left: 0.75rem;
}

button.fold {
    text-decoration: none;
    /*pointer-events: none;*/
    text-align: left;
    padding: 0;
}

#hovered-note-menu {
    position: absolute;
    left: 0;
    top: 0;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

li {
    pointer-events: none;
}

li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    cursor: pointer;
    pointer-events: all;
}
/*
li.li-nested::before  {
    display: none;
}
*/