span.note i {
    font-size: .5rem;
}

span.note ul {
    padding-left: 0.75rem;
}

button.fold {
    text-decoration: none;
    /*pointer-events: none;*/
    text-align: left;
    padding: 0;
}

#hovered-note-icon {
    transform:translateX(-100%);
}

ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
  }